.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
  border-radius: 5px;
  background-color: #35a29f;
  color: white;
}

.button:hover {
  background-color: #116360;
  color: white;
}

.orderButton {
  background-color: white;
  color: #35a29f;
  border: 1px solid #35a29f;
}
