.slideItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  margin-left: 5%;
  padding: 10px;
}

.image {
  margin-left: 20%;
  width: 200px;
  height: 200px;
}
.cartButton {
  background-color: #c1a1d3 !important;
  color: black !important;
  border: none;
  font-weight: 600;
}
.cartButton:hover {
  background-color: #9d6eb8 !important;
}
